# ---------- DSP2017 Project ----------

### Import libraries:

In [3]:
import pandas as pnd

## PREPARING MODEL:

### Loading data

In [9]:
data_frame_columns = pnd.read_csv("./data/columns.csv")
data_frame_responses = pnd.read_csv("./data/responses.csv")

In [11]:
data_frame_columns.shape

(150, 2)

In [12]:
data_frame_responses.shape

(1010, 150)

In [14]:
data_frame_columns.head()

                      original                     short
0  I enjoy listening to music.                     Music
1                    I prefer.  Slow songs or fast songs
2           Dance, Disco, Funk                     Dance
3                   Folk music                      Folk
4                      Country                   Country

In [15]:
data_frame_responses.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow